In [4]:
import pandas as pd  
import matplotlib as plt  
import numpy as np

## Getting our data ready to be used with machine learning  

Three main things we have to do:  

1. Split the data into features and labels( usually `X`and `y`) 
2. Filling or imputing or disregarding missing values  
3. Feature Encoding: Non Numerical values to Numerical values

In [12]:
car_sales = pd.read_csv("car-sales-extended.csv")  
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [13]:
len(car_sales)

1000

In [14]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [22]:
from sklearn.model_selection import train_test_split   

X = car_sales.drop("Price", axis=1) 
y = car_sales["Price"]  

# Split into training and tesing  

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)